<!DOCTYPE html>
<html>
  <head>
    <title>Passport Basics</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h3>Log In</h3>
    <form method="post" action="/login">
<label for="username">Username: </label>
<input type="text" name="username" id="username"><br>
<label for="password">Password: </label>
<input type="text" name="password" id="password"><br>
<input type="submit" value="log in">
    </form>

  </body>
</html>
